services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: dexdraw
      POSTGRES_USER: dexdraw
      POSTGRES_PASSWORD: dexdraw
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
